@import url(reset.css);


.contenedor {
    width: 1000px;
    height: 500px;
    margin: 20px auto;
}

.fotos {
    width: 1000px;
    height: 400px;
}

.fotos>div {
    float: left;
    width: 490px;
    height: 400px;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
}

.fotos>div:last-child {
    cursor:pointer;
    margin-left: 20px;
}

.tiempo>div {
    height: 30px;
    background-color: red;
    margin-top: 20px;
    border-top-left-radius: 20px;
    border-bottom-right-radius: 35px;
}


/*Marcas de ticado de errores*/

.errores>div {
    position: relative;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    height: 50px;
    filter: brightness(145%);
}

/* Página Final */
.gameOver{
    display: none;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0px;
    left: 0px;
    background-color: rgba(110,110,110,0.6);
}

.gameOver>div{
    font-family: 'Rancho', cursive;
    font-size: 100px;
    font-weight: bold;
    color: white;
    text-align: center;
    text-shadow: 4px 4px 2px rgba(150, 150, 150, 1);
    width: 400px;
    height: 250px;
    border-radius: 25px;
	border:15px ridge grey;
    background: red;
    position: relative;
    /*animación*/
    animation: movimiento 5s 2;
    animation-direction: alternate;
    animation-iteration-count: infinite;
}

@keyframes movimiento {
    0%   {background: red; left: 400px; top: 0px;}
    25%  {background: yellow; left: 600px; top: 0px;}
    50%  {background: blue; left: 600px; top: 400px;}
    75%  {background: green; left: 600px; top: 400px;}
    100% {background: red; left: 400px; top: 0px;}
}