@import url(reset.css);

html,body,.marcador{
	width: 100%;
	height: 100%;
}
.contenedor{
	width: 850px;
	margin: 20px auto;
}

input{
	margin-top: 20px;
	margin-bottom: 20px;
	}
#jugar,#puntua{
	width: 413px;
	height: 50px;
	color:white;
	background-color: black;
	font-weight: bold;
	cursor: pointer;

}
#jugar{

	margin-right: 6px;
}
#puntos,#nom{
	width: 413px;
	height: 40px;
	padding:5px;
}

.label{
	
	width: 400px;
	height: 40px;
	padding: 5PX;
}

.marcador{
	
	display: none;
	background-color: rgba(110,110,110,0.6);
	position: absolute;
	top: 0;
	
}
.marcador h2{
	margin: 10px auto;
	margin-top:30px;
	background-color: violet;
	font-size: 20px;
	font-weight: bold;
	width: 302px;
	height: 40px;
	text-align: center;
	line-height: 40px;
	border: 1px solid black;
	border-radius: 20px;
}

.marcador table{
	margin: 0px auto;	
	border-collapse: collapse;
}

.marcador tr{
	height: 50px;
}
.marcador td{
	min-width: 100px;
    padding: 5px;
	background-color: white;
	text-align: center;
	vertical-align: middle;
	border: 1px solid black;

}