@import url(reset.css);

.galeria{
	box-sizing: border-box;
	background-color:#562d2d;
   	width: 700px;
    margin: 20px auto;
}
nav{
    width: 700px;
    margin: 0px auto;
    background-color:#776262;
}

ul{
    display:flex;
    justify-content:space-around;
}

a{
    text-decoration:none;
    display:block;
    text-align: center;
    color:white;
    line-height: 40px;
}

#fotos{
	height:300px;
    box-shadow: inset 0 0 10px 15px white;
    box-shadow: inset 0 0 10px 15px rgba(255,255,255,.7);

}
#fotos img{
	margin-top: 14px;
    margin-left: 25px;
    width: 630px;
    height: 250px;
    border: 10px solid white;
    box-shadow: inset 0 0 0px 5px white;
    

}

#minis{
	height: 120px;
	box-shadow: inset 0 0 10px 15px white;
    box-shadow: inset 0 0 10px 15px rgba(255,255,255,.7);
}
#minis>img{

	margin-left: 10px;
    width: 140px;
    height: 100px;
    border: 10px solid white;
    box-shadow: inset 0 0 0px 5px white;

}
#controles{
	height: 30px;
	display: flex;
	justify-content:space-around;
	background-color:#776262;
	color:white;
}