@charset "utf-8";

.contenedor{
	width:900px;
	min-height:600px;
	padding-top:20px;
	margin: 10px auto;
	}
.tapiz{
	width: 800px;
    min-height: 400px;
    border: 5px groove silver;
    margin: 10px auto;
    background-color: #a29996;
    box-shadow: 10px 10px 42px 0px rgba(0,0,0,0.75);
}
.tapiz .superior{
	padding: 10px;
	width: 750px;
	height: 50px;
	margin-left: 14px;
	background-color: #999;

}
.tapiz .superior>div:first-of-type{
	width:300px;
	float:left;
	height:40px;
	line-height:40px;
	background-color:rgba(204,204,204,1);
	border:2px solid black;
	border-radius: 12px;
	text-align:center;
 }
h3{
	height:40px;
	line-height:40px;
	margin-left:10px;
	font-size: bold;
	}

	
/* botón inicio */
.tapiz .superior>div.inicio{
	float: left;
	width: 120px;
    font-size: 1em;
    border-radius: 15px;
    border: 3px groove grey;
    word-spacing: 5px;
    font-weight: bold;
	cursor:pointer;
	text-align: center;
	margin-left: 70px;
	}
	
/* tiempo */
.tapiz .superior>div.tiempo{
	float:left;
	font-family:digi;
	width:65px;
	border-radius:15px;
	border:3px groove grey;
	padding:5px;
	margin-left: 165px;
	margin-top: 10px;
	font-size:22px;
	height:30px;
	line-height:30px;
	}
	
.tapiz .superior>div.tiempo>div{
	float:left;
	width:25px;
	text-align:center;
	}
	
.tapiz .superior>div.tiempo>div.puntos{
	width:15px;
	}
	
/* limpia flotación */
.limpiar{
	clear:both;
	}

/* zona de palabras y errores */	
.tapiz .inferior{
	min-height:400px;
	margin-top:20px;
	}
	
/* zona izq que muestra las letras */
.tapiz .inferior>div#palabras{
	float:left;
    background-color:#948f83;
	border:2px solid black;
	margin-left:30px;
	width:350px;
	height:300px;
	}
	
/* estilo común palabras y errores */
.tapiz .inferior #palabras>div{
	width:75%;
	border:2px solid black;
	margin:10px auto;
	}

.tapiz .inferior #palabras>h2{
	margin-left:42px;
	padding-top:20px;
	}

/* div para la palabra a adivinar */
.tapiz .inferior #palabras>div.palabra{
	height:60px;
	background-color:rgba(192, 204, 234, 0.71);
	text-align:center;
	line-height:60px;
	letter-spacing:8px;
	font-size:1em;
	}

/* para la palabra a adivinar */
.tapiz .inferior #palabras>div.letra{
	display:none;
	border:none;
	height:30px;
	line-height:30px;
	}

.tapiz .inferior #palabras>div.letra{
	border:2px solid black;
	margin-left:20px;
	width:20px;
	}

/* para el numero de errres*/
.tapiz .inferior #palabras>div.errores{
	background-color:rgba(174, 225, 234, 0.71);
	min-height:50px;
	text-align:center;
	line-height:50px;
	font-size:1.5em;
	}

.tapiz .inferior .ahorcado{
	background-size: contain;
	background-repeat:no-repeat;
	height:304px;
    width: 400px;
    float: right;
    margin-right: -25px;
	}
	
.marcador{
	min-height: 50px;
    background-color: #9abd9a;
    border: 8px groove green;
    margin: 10px auto;
    margin-bottom: 20px;
    width: 50%;
    padding: 5px;
    text-align: center;
	}