@import url(reset.css);

.contenedor{
	width: 666px;
	min-height: 500px;
	margin: 10px auto;
	
}
.contenedor>div:first-child{
	height: 435px;
	margin: 0px auto;
	
}
.salida{
	min-height: 350px;
	border: 10px double #abcc5b;
	margin: 0px auto;
	text-align: center;
	
}
.salida>div:first-of-type{
	width: 20px;
    height: 20px;
    border-radius: 10px;
    color: red;
    font-weight: bold;
    cursor: pointer;
    border: 5px ridge red;
    line-height: 20px;
    font-size: 20px;
    font-family: sans-serif;
    margin-top: 15px;
    margin-left: 680px;
}
.salida>h1{
	text-align: center;
	font-weight: bold;
	font-size: 30px;
	position: relative;
	top: -35px;
	z-index: -100;
}
.salida>img{
	width: 475px;
}
.salida>div:last-of-type{
	padding: 20px;
}