@import url(reset.css);

.tabla{
	display:table;
	height:100%;
	width:800px;
	margin:0px auto;
	border-collapse:separate;
}
.fila{
	display:table-row;

}
.celda{
	display:table-cell;
	text-align:center;
	vertical-align:middle;
	padding:10px;
}
.entradas>div{
	height:100px;
}
.entradas>div>input{
	height:40px;
}

.etiquetas>div{
	height:100px;
	margin-top: 6px;
}
.etiquetas>div>label{
	margin-top: 10px;
}
.boton>div{
	height:100px;
	margin-top: 6px;
}
.celda>div{
	display:table;
	margin:0px auto;
}
.etiquetas{
	padding:15px 20px;
	float:left;
	text-align:center;
	
}
.entradas{
	float:left;
	text-align:left;
	background-color:#9ba49b;
	padding: 20px 20px;
}
.boton{
	float:left;
	text-align:left;
	padding:15px 20px;
}
input[type="button"]{
	margin-top:10px;
	width:100px;
	height:30px;
}



