.contenedor{
	width: 800px;
	height: 500px;
	background-color: grey;
	border-radius: 20px;	
	margin: 20px auto;
}
.form{
	width: 750px;
	height: 400px;
	background-color: white;
	position: fixed;
	bottom: 175px;
    margin-left: 25px;
}

.form>div{
	width: 500px;
    height: 30px;
    background-color: #ccc;
    border: 1px solid #000;
    margin: 60px auto;
}
div>#barra{
	border:none;
	margin:0px;
	 height: 30px;
	background-color:#e31c0d;
}

.form #disminuir, #aumentar{
	margin-top: 60px;
    margin-left: 170px;
    height: 30px;
    width: 100px;
    border-radius: 5px;
}