@import url("reset.css");
body{
	width: 100%;
}

h1{
	font-size: 17px;
    font-weight: bold;
    margin-top: 20px;
    margin-left: 20px;
    text-decoration: underline;
    margin-bottom: 10px;
    text-align: left;
}
p{
	margin-left: 20px;
	text-align: left;
}

body>input{
	margin-top: 50px;
    margin-left: 20px;
    width: 280px;
    height: 40px;
}
form{
	width: 800px;
	display: none;
}

form>div{
	width: 760px;
    min-height: 100px;
    background-color: #ccc;
    margin: 10px auto;
}
form>input:last-of-type{
	width: 100px;
    height: 30px;
    background-color: green;
    position: absolute;
    left: 350px;
}
#reloj {
	font-weight: bold;
    color: yellow;
    background: blue;
    width: 100px;
    height: 50px;
    text-align: center;
    line-height: 50px;
    position: absolute;
    top: 25px;
    left: 675px;
    display: none;
}
#solucion{
    width: 600px;
    margin-left: 30px;
    margin-top: 30px;
    border: 4px double black;
    background-color: #ccc;
    display:none;
    padding: 20px;
}
