@import url(reset.css);


.contenedor{
  height: 700px;
  margin: 0px auto;
  background-color: #ccc;
}
#reloj {
  width: 630px;
  height: 600px;;
  background-image: url(../imgs/clockface.jpg);
  background-repeat: no-repeat;
}

#horas {
  background-color: black;
  height: 180px;
  width: 25px;
  border-radius: 50px;
  position: absolute;
  transform-origin: center bottom;
  top: 128px;
  left: 283px;
}
#minutos {
  
 background-color: black;
  height: 220px;
  width: 15px;
  border-radius: 50px;
  position: absolute;
  transform-origin: center bottom;
  top: 87px;
  left: 293px;
}

#segundos {
    height: 251px;
    width: 26px;
    background-image: url(../imgs/sechand.png);
    position: absolute;
    left: 280px;
    top: 121px;
    transform-origin: 13px 185px;
    z-index: 100;
    background-repeat: no-repeat;
}