@import url("reset.css");
body{
	width: 100%;
    height: 100%;
}


#reloj {
	font-weight: bold;
    font-size: 90px;
    color: yellow;
    background: #3F51B5;
    width: 500px;
    height: 200px;
    text-align: center;
    line-height: 200px;
    margin: 20px auto;
    border: 30px double black;
    
   }
