@import url(reset.css);



body,
html {
    height: 100%;
}

.nombre {
	width: 500px;
    height: 100px;
    background-color: #ccc;
    text-align: left;
    margin: 30px;
}

.edad{
	width: 250px;
    height: 200px;
    border: 3px double #ccc;
    text-align: left;
    margin: 20px auto;
}