.salida{
			width: 400px;
			min-height: 200px;
			box-shadow: 1px 1px 1px; 
			background-color: #ccc;
			position: fixed;
			top: 20%;
			left: 25%;
			opacity: 0;
			transition: all 2s;
		}
		
		.salida>header{
			font-size: x-large;
			background-color: #ddd;
			text-align: center;
			height: 30px;
			line-height: 30px;
			text-shadow: 1px 1px 1px #eee;
			font-weight: bold;
		}

		.salida>div{
			width: 80%;
			margin: 0px auto;
		}

		.salida>button{
			width: 40%;
			position: absolute;
			bottom: 5px;
			left: 30%;
			margin: 0px auto;
			height: 30px;
			line-height: 30px;
		}